<div id="app container">
  <nav class="navbar">
    <div class="col-md-6 col-md-offset-3">
      <search
      new-search = '$ctrl.newSearch'
      ></search>
    </div>
  </nav>
  <div class="row">
    <div class="col-md-7"  >
      <video-player video = '$ctrl.currentVideo' ></video-player>
      <video-details video = '$ctrl.currentVideo' ></video-details>
    </div>
    <div class="col-md-5">
      <video-list
        videos = '$ctrl.videos' 
        title-click = '$ctrl.titleClick'> 
      </video-list>
    </div>
  <div>
</div>
