<div class='video-details'>
  <h3> {{ $ctrl.video.snippet.title }} </h3>
  <div>
  <span class = 'statistics'> 
    {{$ctrl.statistics.viewCount}} Views 
  </span>
  <span class = 'statistics'> 
    {{$ctrl.statistics.likeCount}} Likes 
  </span>
  <span class = 'statistics'> 
    {{$ctrl.statistics.dislikeCount}} Dislikes 
  </span>
  </div>
  <div class = 'channel'> BTYB: {{$ctrl.video.snippet.channelTitle}} </div>
  <div class = 'description'> {{ $ctrl.video.snippet.description }}</div>
</div>